
.gameComplex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -10px;
}

.gameComplex button {
  margin: 0 10px;
  &:hover{
    transform: none;
  }
}

@media (max-width: 1200px) {
  .gameComplex { flex-direction: column; order: 1; }
  .gameComplex a { margin: 10px 0; }
}
