@import '../../mixins.scss';
@import '../../scss-vars/colors.scss';
@import '../../scss-vars/monitors.scss';

.result, .info {
   position: absolute;
   left: 0;
   top: 0;
   text-align: center;
   width: 100%;
   min-height: 100%;
   z-index: 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background:rgba(0,0,0,0.8);
   transition: all 0.3s ease 0s;
   animation: move 0.2s;

   @media (max-width: #{$sm}px) {
      justify-content: flex-start;
      padding: 10% 0 0;
   }
   @media (min-width: #{$sm + 1}px) {
      justify-content: flex-start;
      padding: 5% 0 0;
   }
}
@keyframes move {
   0% {
      opacity: 0;

      }
   100% {
      opacity: 1;

   }
}
  
.info p, .result p{
   color: black;
   text-transform: none;
   @include adaptiv-font(25,15);
   text-shadow: 1px 0 1px #fff, 
   0 1px 1px #fff, 
   -1px 0 1px #fff, 
   0 -1px 1px #fff;
}

.result p{
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 40px;
   @include adaptiv-font(30,20);
}

.info__imgs{
   display: flex;
   align-items: center;
   @media (max-width:960px) {
      flex-direction: column;
   }
   margin: 20px -20px 0;
}
@media (max-width:1200px) {
   .info__arr{
      transform: scale(0.7) rotate(90deg);
   }
}

.info__img{
   width: 17.8vw;
   min-width: 100px;
   margin: 20px;
}

.info button:hover{
   transform: none;
}

.result img{
   width: 30vw;
   min-width: 200px;
   height: auto;
   border-radius: 16px;
   background: black;
   border: 3px solid $white;
   box-shadow: 0 0 20px black;
}
.result__loose img {
   border-color: $red;
}
.result__win img {
   border-color: $green;
}
.info__content img {
   border-color: $blue-2;
}
.result__loose > *:not(:last-child),
.result__win > *:not(:last-child),
.info__content > *:not(:last-child) {
   margin-bottom: 40px;
}

.result__loose, .result__win, .info__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 40px 150px;
   @media (max-width:600px) {
      padding: 40px 20px;
   }
   border: 7px solid $white;
   border-radius: 16px;
   background: rgba(255,255,255,0.8);
   max-width: 1000px;   
}

.info__content{
   padding: 20px 70px;
   @media (max-width:1200px) {
      padding: 20px;
   }
   & p {
      line-height: 1.3em;
   }
}

.play_again, .btn_open_game {
   font-family: Arial, Helvetica, sans-serif;
   @include adaptiv-font(20,15);
   min-width: 120px;

}
.play_again:hover{
   transform: none;
}



