.wrapper{
   display: flex;
   position: relative;
   padding: 20px;
   min-height: 100vh;
}

.wrapper.sea{
   background: url(../../img/back_sea.jpg) center/cover;
}

.wrapper.fire{
   background: url(../../img/back_fire.jpg) center/cover;
}

.wrapper.rain{
   background: url(../../img/back_rain.jpg) center/cover;
}



@media (max-width: 960px){
   .wrapper{flex-direction: column;}
}