.wrapper {
  position: relative;
  display: flex;
  padding: 20px;
  min-height: 100vh;
  transition: background 0.3s linear;
}

.wrapper.sea {
  background: url(../../img/back_sea.jpg) center/cover;
}

.wrapper.fire {
  background: url(../../img/back_fire.jpg) center/cover;
}

.wrapper.rain {
  background: url(../../img/back_rain.jpg) center/cover;
}

@media (max-width: 1200px) {
  .wrapper { flex-direction: column; }
}