
.sound img{
   filter: brightness(0) invert(1);
   cursor: pointer;
}

.sound{
   position: absolute;
   top: 6.48%;
   left: 2.6%;
   @media (max-width:500px) {
      left: 20px;
      top: 20px;
      transform: scale(0.7);
   }
   min-width: 0px;
   background: none;
   border: none;
   padding: 0px;
}

.sound:hover{
   transform: none;
}