$blue-main: #3882c4;
$yellow-main: #fcbf2c;
$black-text: #202020;
$gray-main: #8c94a0;
$grey-2: #b8bdce;
$grey-3: #d7dee9;
$grey-4: #e6eaf0;
$grey-5: #eef1f3;
$grey-blue: #e8f0f7;
$grey-6: #f4f8fb;
$red: #c84f4f;
$orange: #f5984e;
$green: #71bc81;
$blue-2: #6ea0eb;
$blue-link: #005bff;
$white: #FFF;
