@import '../../mixins.scss';
@import '../../scss-vars/colors.scss';
@import '../../scss-vars/monitors.scss';

.game {
   flex: 1 1 33.33%;
   height: inherit;
   min-height: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   @media(max-width: #{$md}px) {
     margin-bottom: 40px;
   }

   & > * {
     display: block;
   }
}

$widthItem: calc(100vh/8);
$heightItem: calc(100vh/8);
$gap: 2;

.gameGrid {
  border-radius: 10px;
  background-color: #FFF;
  opacity: 0.9;

  display: grid;
}
.gameGridEasy {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: #{$gap}px;
  width: calc(4*#{$widthItem + $gap*2});
  border: #{$gap}px solid #{$white};
  & > div:first-child {
    border-radius: 8px 0 0 0;
  }
  & > div:nth-child(4) {
    border-radius: 0 8px 0 0;
  }
  & > div:nth-last-child(4) {
    border-radius: 0 0 0 8px;
  }
  & > div:last-child {
    border-radius: 0 0 8px 0;
  }
}
.gameGridMiddle {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: #{$gap}px;
  width: calc(4*#{$widthItem + $gap*2});
  border: #{$gap}px solid #{$white};
  & > div:first-child {
    border-radius: 8px 0 0 0;
  }
  & > div:nth-child(4) {
    border-radius: 0 8px 0 0;
  }
  & > div:nth-last-child(4) {
    border-radius: 0 0 0 8px;
  }
  & > div:last-child {
    border-radius: 0 0 8px 0;
  }
}
.gameGridHard{
  grid-gap: #{$gap}px;
  border: #{$gap}px solid #{$white};
  
  @media (max-width: #{$sm}px){
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: calc(3*#{$widthItem + $gap*2});
    & > div:first-child {
      border-radius: 8px 0 0 0;
    }
    & > div:nth-child(3) {
      border-radius: 0 8px 0 0;
    }
    & > div:nth-last-child(2) {
      border-radius: 0 0 0 8px;
    }
    & > div:last-child {
      border-radius: 0 0 8px 0;
    }
  }

  @media (min-width: #{$sm + 1}px){
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: calc(5*#{$widthItem + $gap*2});
    & > div:first-child {
      border-radius: 8px 0 0 0;
    }
    & > div:nth-child(5) {
      border-radius: 0 8px 0 0;
    }
    & > div:nth-last-child(5) {
      border-radius: 0 0 0 8px;
    }
    & > div:last-child {
      border-radius: 0 0 8px 0;
    }
  }
}

.gridItem {
  // border: 2px solid white;
  width: $widthItem ;
  height: $heightItem;
  box-sizing: border-box;
  cursor: pointer;
}


.time{
   @include adaptiv-font(25, 20);
   color: white;
   text-transform: uppercase;
   margin: 40px 0;
   text-shadow: 1px 0 1px #000, 
   0 1px 1px #000, 
   -1px 0 1px #000, 
   0 -1px 1px #000;
}


.redTime{
  color: $red;
}

.progressbar {
   margin-top: 40px;
   height: 25px;
   width: 20vw;
   min-width: 280px;
   border-radius: 30px;
   border: 2px solid $white;
 }
 
 .progressbar::-webkit-progress-bar {
   border-radius: 30px;
   background: rgba(255, 255, 255, 0.5);
 }
 
 .progressbar::-webkit-progress-value {
   background-color: $green;
   border-radius: 30px;
 }
 
 .progressbar::-moz-progress-bar {
   background-color: $green;
   border-radius: 30px
 }


 @media (max-width: 1200px){
  .gameGridEasy, .gameGridMiddle, .gameGridHard {
    order:2;
    // width: calc(4*#{$widthItem});
  }
  .time {order:  2;}
  .progressbar {
    order: 4;
  }
}

 