@import '../../mixins.scss';

.game {
   flex: 1 1 33.33%;
   height: inherit;
   min-height: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;  
}

$widthItem: calc(100vh/8);
$heightItem: calc(100vh/8);

.gameGridEasy, .gameGridMiddle, .gameGridHard{
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
  opacity: 0.9;
  width: calc(4*#{$widthItem});
}

.gameGridHard{
  width: calc(5*#{$widthItem});
}

.gridItem {
  border: 2px solid white;
  width: $widthItem ;
  height: $heightItem;
  box-sizing: border-box;
  cursor: pointer;
}


.time{
   @include adaptiv-font(25, 20);
   color: white;
   text-transform: uppercase;
   margin: 40px 0;
   text-shadow: 1px 0 1px #000, 
   0 1px 1px #000, 
   -1px 0 1px #000, 
   0 -1px 1px #000;
}


.redTime{
  color:red;
}

.progressbar {
   margin-top: 40px;
   height: 25px;
   width: 20vw;
   min-width: 280px;
   border-radius: 30px;
 }
 
 .progressbar::-webkit-progress-bar {
   border-radius: 30px;
   background: rgba(255, 255, 255, 0.5);
 }
 
 .progressbar::-webkit-progress-value {
   background: rgba(9, 104, 9, 0.8);
   border-radius: 30px;
 }
 
 .progressbar::-moz-progress-bar {
   background: rgba(9, 104, 9, 0.8);
   border-radius: 30px
 }
 


 