@import 'nule.scss';
@import 'mixins.scss';
@import 'scss-vars/colors.scss';

*{
   font-size: 15;
   font-family: 'Sansita Swashed', cursive;
   font-weight: 700;
}


html, body{
   height: 100vh;
}

button, a {
   cursor: pointer;
   padding: 1.85vh 2vw;
   text-align: center;
   background: black;
   min-width: 170px;
   border: 3px solid white;
   color: white;
   text-transform: uppercase;
   border-radius: 15px;
   @include adaptiv-font(32,15);
   transition: transform 0.5s ease 0s;
}

a.active, button.active {
   transition: all 0.2s ease 0s;
   box-shadow: 0 0 50px rgba(245,152,78,0.5);
}
button.active {
   border: 3px solid $orange;
   color: $orange;
}
a.active {
   border: 3px solid $green;
   color: $green;
}

button:hover{
   transform: scale(0.9);
   color: $orange;
}
a:hover{
   transform: scale(0.9);
   color: $green;
}
a.active:hover, button.active:hover{
   transform: none;
}

