@import '../../scss-vars/margins.scss';

.panelBackground {
   flex: 1 1 33.33%;
   height: inherit;
   // min-height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   > *:not(:last-child) {
      margin-bottom: #{$mn-between-btns}px;
   }
}


@media (max-width: 1200px){
   .panelBackground{ order:3;}  
}
 
  